/*
filename:  Nguyen Manh Dung
author: Nguyen Manh Dung
created: 18/2/23
lastmodified: 18/2/23
description:
*/

article {
    float: left;
    width: auto;
    height: auto;
    box-shadow: 3px 3px 3px 2px #797979;
}
aside {
    float: right;
    width: 30%;
    font-size: 8px;
    font-style: italic;
    color: green;
    background-color: lightgrey;
}
footer {
    float: none;
    clear: both;
    color: white;
    background-color: navy;
}
main {
    float: left;
    width: 65%;
}
header{
    color: white;
    background-color: navy;
}
nav {
    background-color: darkgrey;
    float: left;
    list-style-type: none;
    padding: 0 ;
    margin: 0 ;
    width: 100%;
}
a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 0.2em 0.6em 0.2em 0.6em;
    border-right: 1px solid white;
}
#article_1, #article_2{
    color: black;
    background-color: lightgrey;    
}
#section_1, #section_2{
    color: green;
    background-color: lightblue;
}
a:hover {
    background-color: brown;
  }
h2 {
    text-shadow: #aaa 2px 2px 2px;
}